/*
Theme Name: Blog CE
Author: PontoCom
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
body {	line-height: normal; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content: '';	content: none; }
table {border-collapse: collapse;	border-spacing: 0; }
a {text-decoration:none; }
a img { -webkit-transform: rotate(0); -moz-transform: rotate(0); transform: rotate(0);	}

a {transition: all 0.2s; -moz-transition: all 0.2s; /* Firefox 4 */	-webkit-transition: all 0.2s; /* Safari and Chrome */ -o-transition: all 0.2s /* Opera */ }

/* --------------------------------------- END RESET -------------------------- */
body {
	background:#ffffff;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color:#555555;
	font-weight:400;
	height:100%;
}

.conteudo-wrap {
	width:1280px;
	margin:0 auto;
	position:relative;
}

@media screen and (max-width: 1300px) {
.conteudo-wrap {
	width:100%;
	margin:0 auto;
	position:relative;
}
}

/* --------------------------------------- CSS TOPO --------------------------- */
#top { 
	width:100%;
	position: relative;
	background:url(img/top-bg.jpg) top repeat-x;
	z-index:999;
}

.top-logo {
	width:171px;
	height:113px;
	float:left;
	margin:0 0 0 65px;
	background:#ffffff;	
}

.top-logo img {
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	-o-transition: all 0.2s /* Opera */	
}

.top-logo:hover img {
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */	
}

.top-meio {
	width: calc(100% - 171px - 65px - 130px - 190px);
	float:left;	
}

#nav {
	width:100%;
	text-align:center;
	display:block;
	margin:0 auto;
	padding:0 0 0 0;	
}

#nav li.link-main {
	background:url(img/top-icon-01.png) center left no-repeat;
	height:68px;
	display:inline-block;
	padding:45px 0 0 50px;
	position:relative;
	z-index:9999;
}

#nav li.link-main a {
	font-size:15px;
	color:#53bef2;
	letter-spacing:0.2px;
	text-transform:uppercase;
}

#nav li.link-main a:hover {
	text-decoration:underline;	
}

#nav li ul {
	background:#ffffff;
	border-top:3px solid #6dcff6;
	width:100%;
	position:absolute;
	top:113px;
	left:0;
	z-index:9999;
	padding:22px 0 22px 0;
	display:none; 
}

#nav li ul li {
	display:block;
	padding:4px 25px 4px 25px;
	text-align:left !important;	
}

#nav li ul li a {
	font-size:14px !important;
	color:#377bb5 !important;
	letter-spacing:-0.2px !important;
	text-transform:none !important;
	padding:0 0 0 16px !important;
}

#nav li ul li a:hover {
	color:#00aeef !important;
	text-decoration:underline !important;
	background:url(img/submenu-seta.png) left no-repeat !important;	
}

#nav li:hover ul {
	display:block;	
	z-index:9999;
}

.top-social {
	width:130px;
	float:right;
	padding:49px 0 0 0;	
}

.top-social a {
	display:inline-block;
	margin:0 6px;	
}

.top-social a:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}

.top-voltar {
	text-align:right;
	padding:5px 5px 0 0;	
}

.top-voltar a {
	background:url(img/voltar-ico.png) left no-repeat;
	width:92px;
	height:16px;
	display:inline-block;
	padding:5px 0 0 0;
	font-size:9px;
	color:#ffffff;
	font-weight:400;
	text-transform:uppercase;	
}

.top-voltar a:hover {
	text-decoration:underline;	
}

.top-busca {
	width:175px;
	float:right;
	padding:49px 0 0 0;
	margin:0 0 0 15px;		
}

.top-busca label {
	background:url(img/busca-top.png) center center no-repeat;
	width:19px;
	height:19px;
	float:left;
	display:block;
	cursor:pointer;	
}

.top-busca input {
	width:115px;
	height:20px;
	border:none;
	background:none;
	display:block;
	float:left;
	padding:0 10px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	font-weight:400;	
}

.top-busca input:hover, .top-busca input:focus {
	border-bottom:1px solid #a5a9aa;
}

#nav-mobile {
	display:none;	
}

.mobile-btn {
	display:none;
}

@media screen and (max-width: 840px) {
.top-logo {
	width:100px;
	height:66px;
	float:left;
	margin:0 0 0 35px;
	background:#ffffff;	
}

.top-logo img {
	width:100%;
}

.top-logo:hover img {
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */	
}

.top-meio {
	width: calc(100% - 100px - 35px);
	float:right;	
}

#nav li ul {
	top:66px;
}

#nav li.link-main {
	background:url(img/top-icon-01.png) center left no-repeat;
	height:44px;
	display:inline-block;
	padding:22px 0 0 50px;
	position:relative;
}

.top-social {
	display:none;
}

.top-voltar {
	display:none;
}

.top-busca {
	display:none;		
}
	
}

@media screen and (max-width: 460px) {
.top-logo {
	width:100px;
	height:66px;
	float:left;
	margin:0 0 0 0;
	background:#ffffff;	
}

.top-meio {
	width: calc(100% - 100px);
	float:right;	
}

#nav {
	display:none;	
}

#nav-mobile {
	display:block;	
}	

#nav-mobile {
	width:100%;
	text-align:center;
	display:block;
	margin:0 auto;
	padding:0 0 0 0;	
}

#nav-mobile {
	background:#ffffff;
	border-top:3px solid #6dcff6;
	width:100%;
	position:absolute;
	top:66px;
	left:0;
	z-index:999;
	padding:12px 0 12px 0;
	display:none; 
}

#nav-mobile li {
	display:block;
	padding:6px 25px 6px 25px;
	text-align:left !important;	
}

#nav-mobile li a {
	font-size:14px !important;
	color:#377bb5 !important;
	letter-spacing:-0.2px !important;
	text-transform:none !important;
	padding:0 0 0 16px !important;
	display:block;
}

#nav-mobile li a:hover {
	color:#00aeef !important;
	text-decoration:underline !important;
	background:url(img/submenu-seta.png) left no-repeat !important;	
}

.mobile-btn {
	display:block;
	height:66px;
	position:relative;
	float:right;
	margin:0 15px 0 0;
}

.mobile-btn a {
	font-size:15px;
	color:#53bef2;
	letter-spacing:0.2px;
	text-transform:uppercase;
	background:url(img/top-icon-01.png) center right no-repeat;
	height:44px;
	display:inline-block;
	padding:22px 50px 0 0;
}

.mobile-btn a:hover {
	text-decoration:underline;	
}
}

/* -------------------------------------- DESTAQUES ------------------------------------- */
.box-destaques {
	width:100%;
	margin:0 auto;
}

.box-destaques ul {
	margin:0;
	padding:0;	
}

.dest-item {
	width:320px;
	height:310px;
	float:left;
	position:relative;	
}

.dest-img {
	width:320px;
	height:310px;
	position:relative;
	z-index:1;
	text-align:center;
	overflow:hidden;
}

.dest-img img {
	width:100%;	
}

.dest-mask {
	width:100%;
	height:100%;
	background:url(img/destaque-mask.png) repeat;
	position:absolute;
	top:0;
	left:0;
	z-index:2;	
	pointer-events: none;
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	-o-transition: all 0.2s /* Opera */	
}

.dest-item:hover .dest-mask {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

.dest-txt {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	z-index:3;	
}

.dest-categ {
	width:100%;
	text-align:center;	
}

.dest-categ a {
	display:inline-block;
	font-size:9px;
	color:#ffffff;
	font-weight:400;
	min-width:68px;
	text-align:center;
	padding:2px 5px 2px 5px;
	margin:0 auto;	
}

.dest-categ a:hover {
	text-decoration:underline;	
}

.dest-tit {
	padding:12px 0 0 0;
	text-align:center;	
}

.dest-tit a {
	font-size:15px;
	color:#ffffff;
	font-weight:500;
	letter-spacing:-0.2px;
}

.dest-tit a:hover {
	text-decoration:underline;	
}


.dest-breve {
	padding:12px 0 0 0;
	text-align:center;	
}

.dest-breve p {
	font-size:9px;
	color:#ffffff;
	font-weight:400;
	letter-spacing:-0.2px;
	line-height:12px;
	width:60%;
	margin:0 auto;
}

.dest-data {
	padding:20px 0 13px 0;
	text-align:center;	
}

.dest-data a {
	font-size:8px;
	color:#ffffff;
	font-weight:300;
}

.dest-data a:hover {
	text-decoration:underline;	
}

.dest-data span {
	padding:0 0 0 6px;	
}

@media screen and (max-width: 1300px) {
.box-destaques {
	width:100%;
	margin:0 auto;
}	

.dest-item {
	width:25%;
	height:auto;
	float:left;
	position:relative;	
}

.dest-img {
	width:320px;
	height:auto;
	position:relative;
	z-index:1;
	text-align:center;
	overflow:hidden;
}

.dest-img img {
	width:100%;
	height:auto	
}
}

@media screen and (max-width: 660px) {
.box-destaques {
	max-width:320px;
	width:100%;
	margin:0 auto;
}

.dest-item {
	max-width:320px;
	width:100%;
	height:auto;
	float:left;
	position:relative;	
}

.dest-img {
	width:100%;
	max-width:320px;
	height:auto;
	position:relative;
	z-index:1;
	text-align:center;
	overflow:hidden;
}	

.dest-img img {
	width:100%;	
}
}

/* -------------------------------------- HOT TOPICS ------------------------------------- */
.hot-topics {
	width:1150px;
	margin:0 auto;
	padding:40px 0 0 0;
}

.subtit-left {
	display:block;
	font-size:24px;
	color:#377bb5;
	font-weight:900;
	padding:0 0 30px 0;	
}

.hot-wrap {
	width:100%;	
	padding:60px 0 80px 0;
	position:relative;
	background:#f7f7f8;
}

.slider-left {
	width:19px;
	height:22px;
	background:url(img/slider-left.png) no-repeat;
	display:block;
	float:left;
	margin:91px 5px 0  28px;	
}

.slider-left:hover {
	margin:91px 7px 0  26px;	
}

.slider-right {
	width:19px;
	height:22px;
	background:url(img/slider-right.png) no-repeat;
	display:block;
	float:right;
	margin:91px 28px 0  5px;	
}

.slider-right:hover {
	margin:91px 26px 0  7px;	
}

.slider-mid {
	width: 1046px;
	float:left;	
}

.swiper-container-right {
	overflow: hidden;    
    height: 470px;
}   
.swiper-container-initial {
	overflow: hidden;    
    width: 1046px;
    height: 323px;
}   

.hot-item {
	float:left;
	width:230px;
	height: auto;
	margin:0 3px 0 4px;	
}
.hot-item-sidebar {
	float: none;
	display: block;
	clear: both;
}

.hot-img {
	width:230px;
	overflow:hidden;
	text-align:center;	
}

.hot-img a:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}

.hot-txt {
	width:230px;
	padding:13px 0 0 0;	
}

.hot-categ a {
	display:inline-block;
	font-size:15px;
	color:#ffffff;
	font-weight:400;
	text-align:center;
	padding:2px 15px 2px 15px;
	margin:0 auto !important;	
}

.hot-categ a:hover {
	text-decoration:underline;	
}

.hot-tit {
	padding:12px 0 12px;	
}

.hot-tit a {
	font-size:21px;
	color:#555555;
	line-height:23px;
	letter-spacing:-0.3px;	
	font-weight:400;
}

.hot-tit a:hover {
	text-decoration:underline;		
}

.hot-data {
	padding:0 0 0 0;
}

.hot-data a {
	font-size:13px;
	color:#959595;
	font-weight:500;
}

.hot-data a:hover {
	text-decoration:underline;	
}

.hot-data span {
	padding:0 0 0 0;	
}
.hot-img-click {
	width: auto !important;
	display: inline !important;
}

@media screen and (max-width: 1170px) {
.hot-topics {
	width:626px;
	margin:0 auto;
	padding:40px 0 0 0;
}

.subtit-left {
	display:block;
	font-size:24px;
	color:#377bb5;
	font-weight:900;
	padding:0 0 30px 0;	
}

.hot-wrap {
	width:100%;	
	padding:60px 0 80px 0;
	position:relative;
	background:#f7f7f8;
	margin:0 auto;
}

.slider-left {
	width:19px;
	height:22px;
	background:url(img/slider-left.png) no-repeat;
	display:block;
	float:left;
	margin:297px 5px 0  28px;	
}

.slider-left:hover {
	margin:297px 7px 0  26px;	
}

.slider-right {
	width:19px;
	height:22px;
	background:url(img/slider-right.png) no-repeat;
	display:block;
	float:right;
	margin:297px 28px 0  5px;	
}

.slider-right:hover {
	margin:297px 26px 0  7px;	
}

.slider-mid {
	width: 522px;
	float:left;	
}	

.swiper-container-initial {
    width: 522px;
}   

.hot-item {
	margin:0 15px 30px 16px;	
}
}

@media screen and (max-width: 646px) {
.hot-topics {
	width:261px;
	margin:0 auto;
	padding:40px 0 0 0;
}

.subtit-left {
	display:block;
	font-size:24px;
	color:#377bb5;
	font-weight:900;
	padding:0 0 30px 0;	
}

.hot-wrap {
	width:100%;	
	padding:30px 0 40px 0;
	position:relative;
	background:#f7f7f8;
	margin:0 auto;
}

.slider-left {
	display:none;	
}

.slider-right {
	display:none;
}

.slider-mid {
	width: 261px;
	float:left;	
}	

.swiper-container-initial {
    width: 261px;

}   

.hot-item {
	margin:0 15px 30px 16px;	
}
}

/* -------------------------------------- LISTAGEM THUMBS HOME ------------------------------------- */
.thumb-lista-home {
	width:1185px;
	margin:0 auto;
	padding:70px 0 0 0;
}

.thumb-lista {
	overflow: auto;
	width:100%;	
	padding:0 0 0 0;
	position:relative;
	margin:0 auto;
}

.thumb-item {
	float:left;
	width:363px;
	margin:0 15px 60px 15px;
	border:1px solid #e3e3e3;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	-o-transition: all 0.2s /* Opera */			
}

.thumb-lista-top {
	width:100%;
	height:273px;
	position:relative;	
}

.thumb-img {
	width:363px;
	height:273px;
	overflow:hidden;
	text-align:center;	
	position:relative;
	z-index:1;
}

.thumb-img a:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}

.thumb-categ {
	width:100%;
	height:29px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	z-index:3;	
}

.thumb-categ a {
	display:inline-block;
	font-size:14px;
	color:#ffffff;
	font-weight:400;
	text-align:center;
	padding:6px 10px 5px 15px;
	margin:0 auto;
	min-width:122px;	
}

.thumb-categ a:hover {
	text-decoration:underline;	
}

.thumb-lista-bot {

}

.thumb-txt {
	text-align:center;
	height:181px;
	overflow:hidden;	
}

.thumb-tit {
	padding:22px 24px 15px 24px;	
}

.thumb-tit a {
	font-size:22px;
	color:#252525;
	font-weight:300;
	letter-spacing:-0.3px;	
}

.thumb-tit a:hover {
	text-decoration:underline;		
}

.thumb-desc {
	padding:0 30px 15px 30px;	
}

.thumb-desc p {
	font-size:14px;
	color:#898989;
	font-weight:400;
	letter-spacing:-0.2px;
	line-height:18px;	
}

.thumb-data {
	padding:0 0 23px 0;
	text-align:center;
}

.thumb-data a {
	font-size:10px;
	color:#898989;
	font-weight:300;
}

.thumb-data a:hover {
	text-decoration:underline;	
}

.thumb-data span {
	padding:0 0 0 6px;	
}

.link-vermais {
	width:100%;	
	padding: 0 0 44px 0;
}

.link-vermais a {
	background:url(img/link-vermais.png) center left no-repeat;
	height:34px;
	width:130px;
	text-align:right;
	margin:0 auto;
	display:block;
	font-size:24px;
	color:#377bb5;
	font-weight:300;	
}

.link-vermais a:hover {
	text-decoration:underline;	
}

@media screen and (max-width: 1205px) {
.thumb-lista-home {
	width:790px;
	margin:0 auto;
	padding:70px 0 0 0;
}	
}

@media screen and (max-width: 810px) {
.thumb-lista-home {
	width:100%;
	margin:0 auto;
	padding:70px 0 0 0;
}

.thumb-item {
	float:none;
	max-width:363px;
	width:90%;
	margin:0 auto 60px auto;	
}

.thumb-lista-top {
	width:100%;
	height:auto;
	position:relative;	
}

.thumb-img {
	width:100%;
	max-width:363px;
	height:auto;
	overflow:hidden;
	text-align:center;	
	position:relative;
	z-index:1;
}	

.thumb-img img {
	width:100%;	
}

.thumb-txt {
	text-align:center;
	height:auto;
	overflow:hidden;
	padding:0 0 15px 0;	
}
}


/* -------------------------------------- CATEGORIAS ------------------------------------- */
#top-02 { 
	width:100%;
	position: relative;
	background:url(img/top-bg.jpg) top repeat-x;
	/*background:top center no-repeat;*/
	z-index:999;
}

#top-02 .top-logo {
	width:139px;
	height:92px;
	float:left;
	margin:0 0 0 0;
	background:#ffffff;	
}

#top-02 .top-logo img {
	width:100%;	
}

#top-02 .bg-text {
	position: absolute;
	top:0;
	left: 140px;
	max-width: 1300px;
	overflow: hidden;
	height: 100%;
	overflow: hidden;
	/*background-color: #666;*/
	color: #000;
	z-index: -111111;
	padding-top: 0;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 95px;
	font-weight: bolder;
	font-style: italic;
	opacity: 0.3;
}



.top-interna {
	width: 240px;
	float:right;	
	z-index: 999;
}

.top-interna #nav {
	width:100%;
	text-align:center;
	display:block;
	margin:0 auto;
	padding:0 0 0 0;
	z-index: 999;	
}

.top-interna #nav li.link-main {
	background:url(img/nav-top.png) center left no-repeat;
	height:57px;
	display:inline-block;
	padding:35px 0 0 50px;
	position:relative;
}

.top-interna #nav li.link-main a {
	font-size:15px;
	color:#ffffff;
	letter-spacing:0.2px;
	text-transform:uppercase;
}

.top-interna #nav li.link-main a:hover {
	text-decoration:underline;	
}

.top-interna #nav li ul {
	background:#ffffff;
	border-top:3px solid #6dcff6;
	width:100%;
	position:absolute;
	top:92px;
	left:0;
	z-index:999;
	padding:22px 0 22px 0;
	display:none; 
}

.top-interna #nav li ul li {
	display:block;
	padding:4px 25px 4px 25px;
	text-align:left !important;	
}

.top-interna #nav li ul li a {
	font-size:14px !important;
	color:#377bb5 !important;
	letter-spacing:-0.2px !important;
	text-transform:none !important;
	padding:0 0 0 16px !important;
}

.top-interna #nav li ul li a:hover {
	color:#00aeef !important;
	text-decoration:underline !important;
	background:url(img/submenu-seta.png) left no-repeat !important;	
}

.top-interna #nav li:hover ul {
	display:block;	
}

#top-02 .top-busca {
	width:175px;
	float:right;
	padding:39px 0 0 0;
	margin:0 10px 0 0;		
}

#top-02 .top-busca label {
	background:url(img/busca-top-02.png) center center no-repeat;
	width:27px;
	height:26px;
	float:left;
	display:block;
	cursor:pointer;
	margin:0 10px 0 0;	
}

#top-02 .top-busca input {
	width:115px;
	height:20px;
	border:none;
	background:none;
	display:block;
	float:left;
	padding:0 10px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	font-weight:400;	
}

#top-02 .top-busca input:hover, .top-busca input:focus {
	border-bottom:1px solid #a5a9aa;
}

#top-02 #nav-mobile {
	display:none;	
}

#top-02 .mobile-btn {
	display:none;
}

@media screen and (max-width: 840px) {
#top-02 .top-logo {
	width:100px;
	height:66px;
	float:left;
	margin:0 0 0 0;
	background:#ffffff;	
}

#top-02 .top-logo img {
	width:100%;
}

#top-02 .top-logo:hover img {
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */	
}

#top-02 .bg-text {
	max-width: 700px;
	font-size: 55px;
}

.top-interna {
	width: calc(100% - 100px);
	float:right;	
}

.top-interna #nav li ul {
	top:66px;
}

.top-interna #nav li.link-main {
	background:url(img/nav-top.png) center left no-repeat;
	height:44px;
	display:inline-block;
	padding:22px 0 0 50px;
	position:relative;
}

#top-02 .top-social {
	display:none;
}

#top-02 .top-voltar {
	display:none;
}

#top-02 .top-busca {
	display:none;		
}
	
}

@media screen and (max-width: 460px) {
.top-logo {
	width:100px;
	height:66px;
	float:left;
	margin:0 0 0 0;
	background:#ffffff;	
}

.top-interna {
	width: calc(100% - 100px);
	float:right;	
}

.top-interna #nav {
	display:none;	
}

#top-02 #nav-mobile {
	display:block;	
}	

#top-02 #nav-mobile {
	width:100%;
	text-align:center;
	display:block;
	margin:0 auto;
	padding:0 0 0 0;	
}

#top-02 #nav-mobile {
	background:#ffffff;
	border-top:3px solid #6dcff6;
	width:100%;
	position:absolute;
	top:66px;
	left:0;
	z-index:999;
	padding:12px 0 12px 0;
	display:none; 
}

#top-02 #nav-mobile li {
	display:block;
	padding:6px 25px 6px 25px;
	text-align:left !important;	
}

#top-02 #nav-mobile li a {
	font-size:14px !important;
	color:#377bb5 !important;
	letter-spacing:-0.2px !important;
	text-transform:none !important;
	padding:0 0 0 16px !important;
	display:block;
}

#top-02 #nav-mobile li a:hover {
	color:#00aeef !important;
	text-decoration:underline !important;
	background:url(img/submenu-seta.png) left no-repeat !important;	
}

#top-02 .mobile-btn {
	display:block;
	height:66px;
	position:relative;
	float:right;
	margin:0 15px 0 0;
}

#top-02 .mobile-btn a {
	color:#ffffff;
}

#top-02 .bg-text {
	left: 100px;
	max-width: 320px;
	font-size: 30px;
}

}

.sidebar-left {
	width:255px;
	float:left;
	background:#f0f2f2;
	min-height:500px;
	padding:0 0 60px 0;	
}

.sidebar-topzinho {
	padding:20px 0 0 32px;	
}

.sidebar-topzinho a {
	font-size:9px;
	color:#406b91;
	font-weight:400;
	margin:0 8px;	
}

.sidebar-topzinho a:hover {
	text-decoration:underline;	
}

.sidebar-nav {
	width:100%;	
	margin:0;
	padding:60px 0 30px 0;
}

.sidebar-nav li {
	width:100%;
	position:relative;	
	display:block;
}

.sidebar-nav li a {
	display:block;	
	position:relative;
	border-bottom:1px solid #e4eaea;
	border-left:1px solid #e4eaea;
	padding:13px 0 13px 42px;
	font-size:14px;
	color:#063375;
	font-weight:400;
	text-transform:uppercase;
}

.sidebar-nav li a:hover, .sidebar-nav li a.active {
	background:#ffffff;
}

.sidebar-nav li a span {
	background:url(img/hover-lateral.png) center no-repeat;
	width:10px;
	height:100%;
	display:block;
	position:absolute;
	top:0;
	right:-6px;
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */	
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	-o-transition: all 0.2s /* Opera */	
}

.sidebar-nav li a:hover span, .sidebar-nav li a.active span {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */	
}

.sidebar-nav li a:hover .ico-home, .sidebar-nav li a.active.ico-home {
	background:url(img/home-ico.png) center right no-repeat #ffffff;
}

@media screen and (max-width: 810px) {
.sidebar-left {
	width:110px;
	padding:0 0 60px 0;	
}

.sidebar-topzinho {
	padding:20px 0 0 8px;	
}

.sidebar-nav {
	width:100%;	
	margin:0;
	padding:40px 0 30px 0;
}

.sidebar-nav li a {
	padding:8px 0 8px 12px;
	font-size:11px;
}
}


.mid-wrap {
	width: calc(100% - 255px - 19px - 290px - 6px);
	float:left;
	margin:0 6px 0 19px;
	padding:60px 0 0 0;	
}

.mid-wrap .thumb-item {
	float:left;
	width:222px;
	margin:0 5px 22px 6px;
	border:1px solid #e3e3e3;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	-o-transition: all 0.2s /* Opera */			
}

.mid-wrap .thumb-lista-top {
	width:100%;
	height:166px;
	position:relative;
	overflow:hidden !important;	
}

.mid-wrap .thumb-img {
	width:222px;
	height:166px;
	overflow:hidden !important;
	text-align:center;	
	position:relative;
	z-index:1;
}

.mid-wrap .thumb-img img { 
	width:100%;
	
}

.mid-wrap .thumb-img a:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}

.mid-wrap .thumb-categ {
	width:100%;
	height:18px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	z-index:3;	
}

.mid-wrap .thumb-categ a {
	display:inline-block;
	font-size:9px;
	color:#ffffff;
	font-weight:400;
	text-align:center;
	padding:3px 10px 2px 15px;
	margin:0 auto;
	min-width:67px;	
}

.mid-wrap .thumb-categ a:hover {
	text-decoration:underline;	
}

.mid-wrap .thumb-lista-bot {

}

.mid-wrap .thumb-txt {
	text-align:center;
	height:85px;
	overflow:hidden;	
}

.mid-wrap .thumb-tit {
	padding:16px 10px 10px 10px;	
}

.mid-wrap .thumb-tit a {
	font-size:13px;
	color:#252525;
	font-weight:500;
	letter-spacing:-0.3px;	
}

.mid-wrap .thumb-tit a:hover {
	text-decoration:underline;		
}

.mid-wrap .thumb-desc {
	padding:0 10px 15px 10px;	
}

.mid-wrap .thumb-desc p {
	font-size:9px;
	color:#898989;
	font-weight:400;
	letter-spacing:-0.2px;
	line-height:10px;	
}

.mid-wrap .thumb-data {
	padding:0 0 23px 0;
	text-align:center;
}

.mid-wrap .thumb-data a {
	font-size:8px;
	color:#898989;
	font-weight:300;
}

.mid-wrap .thumb-data a:hover {
	text-decoration:underline;	
}

.mid-wrap .thumb-data span {
	padding:0 0 0 6px;	
}

.mid-wrap .link-vermais {
	width:100%;	
	padding: 0 0 44px 0;
}

.mid-wrap .link-vermais a {
	background:url(img/link-vermais.png) center left no-repeat;
	height:34px;
	width:130px;
	text-align:right;
	margin:0 auto;
	display:block;
	font-size:24px;
	color:#377bb5;
	font-weight:300;	
}

.mid-wrap .link-vermais a:hover {
	text-decoration:underline;	
}

@media screen and (max-width: 1205px) {
.mid-wrap .thumb-lista-home {
	width:790px;
	margin:0 auto;
	padding:70px 0 0 0;
}	
}

@media screen and (max-width: 810px) {
.mid-wrap {
	width: calc(100% - 110px - 19px - 160px - 6px);
	float:left;
	margin:0 6px 0 19px;
	padding:60px 0 0 0;	
}

.mid-wrap .thumb-item {
	float:none;
	max-width:222px;
	width:90%;
	margin:0 auto 22px auto;	
}

.mid-wrap .thumb-lista-top {
	width:100%;
	height:auto;
	position:relative;	
}

.mid-wrap .thumb-img {
	width:100%;
	max-width:222px;
	height:auto;
	overflow:hidden;
	text-align:center;	
	position:relative;
	z-index:1;
}	

.mid-wrap .thumb-img img {
	width:100%;	
}

.mid-wrap .thumb-txt {
	text-align:center;
	height:auto;
	overflow:hidden;
	padding:0 0 15px 0;	
}
}


.sidebar-right {
	width:290px;
	float:right;
}

.todos-artigos {
	padding:8px 0 0 0;
	text-align:center;	
}

.todos-artigos a {
	background:url(img/artigos-ico.png) center left no-repeat;
	font-size:12px;
	color:#063375;
	font-weight:400;
	display:inline-block;
	padding:5px 0 0 34px;	
	text-transform:uppercase;
	margin:0 auto;
	height:21px;
}

.todos-artigos a:hover {
	text-decoration:underline;
}

.hot-sidebar {
	padding:15px 0 0 0;	
}

.hot-sidebar h1 {
	padding:0 0 15px 0;
	font-size:30px;
	color:#ee1f1f;
	font-weight:900;
	display:block;
	margin:0 auto;	
	text-align:center;
}

.hot-sidebar-wrap {
	border:1px solid #e1e1e1;
	width:249px;
	margin:0 auto;
	position:relative;
	padding:38px 0 0 0;	
	margin-bottom: 10px;
}

.hot-filter {
	position:absolute;
	width:100%;
	top:-10px;
	left:0;
	z-index:3;
	text-align:center;		
}

.hot-filter div {
	display:inline-block;
	background:#ffffff;
	padding:0 10px;	
}

.hot-filter a {
	background:#ffffff;
	font-size:14px;
	color:#d7d7d7;
	font-weight:500;
	display:inline-block;
	padding:0 8px 0 8px;	
	text-transform:uppercase;
}

.hot-filter a:hover, .hot-filter a.active {
	color:#406b91;	
}

.hot-sidebar .hot-item {
	float:none;
	width:210px;
	margin:0 auto 18px auto;	
}

.hot-sidebar .hot-img {
	width:103px;
	overflow:hidden;
	text-align:center;
	float:left;	
}

.hot-sidebar .hot-img img {
	width:100%;
}

.hot-sidebar .hot-img a:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}

.hot-sidebar .hot-txt {
	width:99px;
	padding:0 0 0 0;
	float:left;
	margin:	0 0 0 8px;
}

.hot-sidebar .hot-categ a {
	display:inline-block;
	font-size:10px;
	color:#ffffff;
	font-weight:400;
	text-align:center;
	padding:1px 10px 1px 10px;
	margin:0 auto;	
}

.hot-sidebar .hot-categ a:hover {
	text-decoration:underline;	
}

.hot-sidebar .hot-tit {
	padding:6px 0 5px 0;	
}

.hot-sidebar .hot-tit a {
	font-size:12px;
	color:#555555;
	line-height:12px;
	letter-spacing:-0.3px;	
	font-weight:400;
}

.hot-sidebar .hot-tit a:hover {
	text-decoration:underline;		
}

.hot-sidebar .hot-data {
	padding:0 0 0 0;
}

.hot-sidebar .hot-data a {
	font-size:12px;
	color:#959595;
	font-weight:500;
}

.hot-sidebar .hot-data a:hover {
	text-decoration:underline;	
}

.hot-sidebar .hot-data span {
	padding:0 0 0 0;	
}

.sidebar-updown {
	clear: both;
	width:100%;
	text-align:center;
	padding:0 0 6px 0;	
	position: relative;
}

.sidebar-updown a {
	width:15px;
	height:13px;
	display:inline-block;
	margin:0 40px;	
}

@media screen and (max-width: 810px) {
.sidebar-right {
	width:160px;
	float:right;
}

.todos-artigos a {
	font-size:10px;
	padding:7px 0 0 34px;	
	height:19px;
}

.hot-sidebar {
	padding:15px 0 0 0;	
}

.hot-sidebar h1 {
	font-size:24px;
}

.hot-sidebar-wrap {
	width:140px;
}

.hot-filter a {
	font-size:11px;
	padding:0 4px 0 4px;	
}

.hot-sidebar .hot-item {
	float:none;
	width:140px;
	margin:0 auto 18px auto;	
}

.hot-sidebar .hot-img {
	float:none;
	margin:0 auto;
	display:block;	
}


.hot-sidebar .hot-txt {
	width:99px;
	padding:0 0 0 0;
	float:none;
	margin:	0 auto 0 auto;
}

.sidebar-updown a {
	width:15px;
	height:13px;
	display:inline-block;
	margin:0 20px;	
}
}

/* -------------------------------------- POST ------------------------------------- */

.post-wrap {
	width: calc(100% - 255px - 19px - 290px - 6px);
	float:left;
	margin:0 6px 0 19px;
	padding:60px 0 0 0;	
}

.post-social-bar {
	float:left;
	width:54px;	
	text-align:center;
	padding:36px 0 0 0;
}

.post-social-bar p {
	font-size:9px;
	color:#3b3b3b;
	letter-spacing:-0.2px;
	font-weight:400;
	padding:0 0 5px 0;
}

.bar-count {
	font-size:9px;
	color:#959595;
	letter-spacing:-0.2px;
	font-weight:400;
	text-align:center;
	line-height:11px;
	padding:0 0 8px 0;
}

.bar-count strong {
	font-size:10px;
	color:#3b3b3b;
	font-weight:700;
}

.post-social-bar a {
	display:block;
	margin:0 auto;	
	text-align:center;
	padding:0 0 5px 0;
}

.post-social-bar a span {
	font-size:9px;
	color:#959595;
	letter-spacing:-0.2px;
	font-weight:400;
	display:block;
}

.post-social-bar a:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}

.post-float {
	width: calc(100% - 54px - 10px);
	float:left;
	margin:0 0 0 10px;	
}


#post {
	width: 100%;
	padding:0 0 50px 0;

}

.post-destacada {
	width:100%;
	max-width:626px;
	margin:0;
	overflow:hidden;
	text-align:center;	
}

.post-destacada img {
	width:100%;
	height:auto;	
}

.post-top {
	padding:55px 0 10px 0;	
}

.post-data {
	font-size:12px;
	color:#898989;
	font-weight:300;
	display:block;	
}

#post .post-top h1 {
	font-size:24px;
	color:#e2ab56;
	font-weight:500;
	display:block;	
	padding:0 0 15px 0;
	line-height:26px;	
}

#post p {
	font-size:17px;
	color:#898989;
	font-weight:400;
	display:block;	
	padding:0 0 15px 0;
	line-height:23px;
	max-width:626px;	
}

.post-social {
	text-align:right;
	padding:50px 0 20px 0;
}

.post-social p {
	font-size:15px;
	color:#3b3b3b;
	letter-spacing:-0.3px;
	font-weight:400;
	padding:0 75px 10px 0;
	width:197px;
	display:inline-block;
}

.post-social a {
	display:inline-block;
	margin:0 auto;	
	text-align:center;
	padding:0 2px 0 2px;
}

.post-social a:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}

.post-comentario {
	border-top:1px solid #dbdcdd;
	padding: 0 0 140px 0;	
}

.post-comentario .p-01 {
	font-size:20px;
	color:#3b3b3b;
	letter-spacing:-0.3px;
	font-weight:400;
	padding:15px 0 10px 0; 
}

@media screen and (max-width: 1205px) {
	
}

@media screen and (max-width: 810px) {
.post-wrap {
	width: calc(100% - 110px - 10px - 160px - 6px);
	float:left;
	margin:0 6px 0 10px;
	padding:60px 0 0 0;	
}

}

@media screen and (max-width: 590px) {
.mid-wrap {
	width: calc(100% - 110px - 19px - 6px);
	float:left;
	margin:0 6px 0 19px;
	padding:60px 0 0 0;	
}

.post-wrap {
	width: calc(100% - 110px - 10px - 6px);
	float:left;
	margin:0 6px 0 10px;
	padding:60px 0 0 0;	
}

.sidebar-right {
	display:none;
}	
}

@media screen and (max-width: 440px) {
.mid-wrap {
	width: calc(100% - 19px - 6px);
	float:left;
	margin:0 6px 0 19px;
	padding:60px 0 0 0;	
}

.post-wrap {
	width: calc(100% - 10px - 6px);
	float:left;
	margin:0 6px 0 10px;
	padding:60px 0 0 0;	
}

.sidebar-right {
	display:none;
}	

.sidebar-left {
	display:none;
}
}




/* -------------------------------------- RODAPÉ ------------------------------------- */
#footer {
	width:100%;	
	margin:0 auto;
}

.footer-top {
	background:url(img/bg-footer.jpg) bottom center no-repeat #033081;
	padding:40px 0 40px 0; 
	text-align:center;
}

.footer-menu {
	width:170px;
	display:inline-block;
	margin:0 15px 25px 15px;
	vertical-align:top;	
}

.footer-menu li.li-tit {
	font-size:18px;
	color:#ffffff;	
	font-weight:400;
	padding:0 0 20px 0;
}

.footer-menu li a {
	font-size:14px;
	color:#ffffff;	
	font-weight:300;
}

.footer-menu li a:hover {
	text-decoration:underline;
}

.footer-social a {
	display:inline-block;
	margin:0 7px 0 8px;
}

.footer-social a:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}

.footer-mid {
	background:#ffffff;
	border-bottom:1px solid #bcbdc0;
	text-align:center;
	padding:25px 0 25px 0;
	overflow:hidden;	
}

.footer-mid p {
	font-size:14px;
	color:#959595;	
	font-weight:400;
	letter-spacing:-0.2px;
	width:90%;
	margin:0 auto;	
}

.footer-mid p a {
	font-size:14px;
	color:#053282;	
	font-weight:400;
	letter-spacing:-0.2px;	
}

.footer-mid p a:hover {
	text-decoration:underline;
}

.footer-bot {
	background:#ffffff;
	text-align:center;
	padding:25px 0 40px 0;	
}

.pcom {
	width:231px;
	height:18px;
	display:block;
	position:relative;
	margin:0 auto;
}

.pcom span {
	width:231px;
	height:18;
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1;	
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	-o-transition: all 0.2s /* Opera */		
}

.pcom .pb {
	z-index:1;	
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */	
}

.pcom .color {
	z-index:3;	
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */	
}

.pcom:hover .pb {
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */		
}

.pcom:hover .color {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */	
}

/* -------------------------------------- ÚTEIS ------------------------------------- */
.rosa {color:#f0969c !important;}
.verde {color:#9dc9c9 !important;}
.branco {color:#ffffff !important;}
.preto {color:#333333 !important;}

.cat-cinema {background:#0072bc !important;}
.cat-gastro {background:#f26c4f !important;}
.cat-moda {background:#ec008c !important;}
.cat-artes {background:#605ca8 !important;}
.cat-dicas {background:#ed1c24 !important;}
.cat-foto {background:#e2ab56 !important;}
.cat-noticias {background:#000000 !important;}
.cat-design {background:#f5989d !important;}
.cat-jogos {background:#cc66f0 !important;}

.thumb-cinema:hover {border:1px solid #0072bc !important;}
.thumb-gastro:hover {border:1px solid #f26c4f !important;}
.thumb-moda:hover {border:1px solid #ec008c !important;}
.thumb-artes:hover {border:1px solid #605ca8 !important;}
.thumb-dicas:hover {border:1px solid #ed1c24 !important;}
.thumb-foto:hover {border:1px solid #e2ab56 !important;}
.thumb-noticias:hover {border:1px solid #000000 !important;}
.thumb-design:hover {border:1px solid #f5989d !important;}
.thumb-jogos:hover {border:1px solid #cc66f0 !important;}

.bold, strong {	font-weight:bold !important; }
em { font-style:italic; }
.clear {  clear:both !important; }
